nav.navbar {
  background-color: rgba(207, 80, 141, 0.1);
  min-height: 60px;
  margin-bottom: 0;
}

.nav>li {
  margin-top: 8px;
  margin: 8px 5px;
}

.nav>li:first-child {
  margin-left: 0;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 1px solid #66E3BB;
  border-radius: 5px;
}

.nav>li>a:before {
  content:'';
  position:absolute;
  width:0%;
  top: 0;
  left:0;
  height:100%;
  background:rgba(102,277,187,0.4);
  transition:.5s all cubic-bezier(.95, 0.04, .95, .95);
  z-index:-1;
}

.nav>li>a:hover:before{
  width:100%;
}
